@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Daxiomatic</h1>
    <h2>Welcome to Daxiomatic to continue please <a href="http://localhost:48976/Home/Login">Login</a></h2>   
</div>